*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(220, 238, 238);
    border: 1px solid;
    padding: 1em 0;
}
.nav__items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav__items a{
    text-decoration: none;
}
.list__items:hover{
    background-color: #333;
}
.list__items.active{
    background-color: red;
}